@import "../../styles/structure/variables/index";
@mixin staggered_transitions($nth: 1, $items: 2, $initial: 0, $step: 0.1) {
    @for $i from $nth through $items {
      &:nth-of-type(#{$i}) {
        transition-delay: #{$initial}s;
      }
      $initial: $initial + $step;
    }
  }
.posts {
    margin-top: 20px;


    position: relative;
    .posts__image {
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        position: relative;
        border-bottom: 1px solid #eaeaea;
    }
    .posts__content {
        padding: 0.5em;
    }
    .posts-content {
        height: 100%;
        width: 100%;
        border: 1px solid #eaeaea;
        background: #fff;
        display: block;
        box-shadow: 0 0 3px #ddd;
        .posts__description {
            padding: 10px;
            display: block;
            h2 {
                
                
                font-size: 15px;
                font-weight: bold;
                margin: 0;
            }
        }
    }
    .post__footer {
        position: absolute;
        top: 0px;
        padding: 5px;
    }
    
}
