@import "../../styles/structure/variables/index";
@mixin staggered_transitions($nth: 1, $items: 2, $initial: 0, $step: 0.1) {
    @for $i from $nth through $items {
      &:nth-of-type(#{$i}) {
        transition-delay: #{$initial}s;
      }
      $initial: $initial + $step;
    }
  }
.posts {
    margin-top: 20px;
    .posts__image {
        height: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 50%;
        position: relative;
    }
    .posts__content {
        padding: 0.5em;
    }
    .posts-item-link {
        height: 100%;
        border-radius: 3px;
        border: 1px solid #eaeaea;
        display: block;
        position: relative;
    }
    .post__footer {
        
    }
    
}
