 .post-result-title {
    display: inline-block;
    position: relative;
    clear: both;
    text-align: center;
    margin-bottom: 10px;
    border-left: 5px solid #00ADAD;
    padding: 5px 10px;
    box-shadow: 0 0 3px #ddd;
    background-color: #fff;
    font-size: 24px;
 }