.our-services {
	background: red;
	padding-bottom: 50px;
	padding-top: 50px;
	color: #fff;
	overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00CECE), to(#00ADAD));
    background-image: -webkit-linear-gradient(top, #00CECE, #00ADAD);
    background-image: linear-gradient(-180deg, #00CECE, #00ADAD);
}