.about {
    display:flex;
    flex-wrap:wrap;
    flex-direction:row;
    justify-content:flex-start;
    align-items:stretch;
    &__left {
        order:1;
    }
    &__right {
        order:2;
    }
    h2 {
        font-size:2em;;
    }
}
