.header {
    height: 60px;
    width: 100%;
    line-height: 60px;
    border-bottom: 1px solid #ddd;
    display: block;
}
.top-bar {
    justify-content: space-between;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    -webkit-backface-visibility: hidden;
    z-index: 1000;
    font-size: 17px;
    height: 60px;
    line-height: 60px;
    background: #fff;
    position: fixed;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.13);
    .menu-mobile {
        display: none;
        @media only screen and (max-width : 640px) {
            display: inline-block;
            margin-right: 10px;
            width: 100%;
        }
    }
    .logo-link {
        border: none;
        float: left;
        transition: all .3s;
        @media only screen and (max-width : 640px) {
            margin-left: 10px;
        }
    }
    .right-menu {
        float: right;
        position: relative;
        ul {
            padding: 0px;
            margin: 0px;
            list-style: none;
            li {
                display: inline-block;
                float: left;
                padding: 0px 10px;
            }
            
        }
        ul, &:active ul {
            @media only screen and (max-width : 640px) {
                display: none;
                position: absolute;
                padding: 0px 10px;;
                background: #fff;
                border: 1px solid #444;
                right: 0px;
                top: 60px;
                border-radius: 4px 0 4px 4px;
            }
        }
        &:hover ul {
            
            display: block;
    
        }
    }
}
