.intro--blue {
    overflow: hidden;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#00CECE), to(#00ADAD));
    background-image: -webkit-linear-gradient(top, #00CECE, #00ADAD);
    background-image: linear-gradient(-180deg, #00CECE, #00ADAD);
}

.intro {
    height: 90vh;
    width: 100%;
}
.btn {

    font-weight: 700;
    text-transform: uppercase;
    margin: 30px;
    height: 50px;
    line-height: 50px;
    border: #fff solid 1px;
    padding: 10px;
    color: #fff;
    &:hover {
        border: #000 solid 1px;
    }
}

.intro__content {
    padding-top: 10%;
    position: relative;
    z-index: 2;
    text-align: center;
    
    // text-align: center;
    img {
        border-radius: 50%;
        width: 10%;
        height: auto;
    }
}
.intro__header {
    margin-top: 0;
    color: #fff;
    font-size: 3rem;
}
.intro__text {
    color: #fff;
    margin-bottom: 40px;
    font-size: 1.2rem;
}